/* =========================
   Global Styles
   ========================= */

@font-face {
  font-family: "Kaushan";
  src: url("/assets/fontstyle/Kaushan_Script/KaushanScript-Regular.ttf")
    format("truetype");
}

/* Default styles for the body */
body {
  font-family: Open sans-serif;
  font-size: 1rem;
}

strong {
  color: #007bff;
}

/* Default styles for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kaushan", cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

.image-response {
  object-fit: cover; /* Redimensionne l'image pour remplir l'élément parent, en conservant son aspect ratio */
  object-position: center; /* Positionne l'image au centre de l'élément parent */
  width: 100%; /* Largeur à 100% de l'élément parent */
  height: 100%; /* Hauteur à 100% de l'élément parent */
}

/* =========================
   Navbar Styles
   ========================= */

/* Remove list bullets and reset padding and margin */
.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Spacing for list items */
.nav-menu li {
  margin-bottom: 10px;
}

/* Z-index to position the nav menu */
.nav-menu {
  z-index: 1000;
}

/* Styles for navigation links */
.nav-menu .nav-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fdfdfd;
  border-radius: 20px;
  text-decoration: none;
  margin-right: 10px;
}

/* Hover effect for navigation links */
.nav-menu .nav-link:hover {
  background-color: #0056b3;
}

/* Icon styling within nav links */
.nav-menu .nav-link i {
  margin-right: 10px;
  vertical-align: middle;
}

/* Hide default text in nav link */
.nav-menu .nav-link span.hidden {
  display: none;
}

/* Show text on nav link hover */
.nav-menu .nav-link:hover span.hidden {
  display: inline-block;
}

/* Style pour le texte du lien actif */
.nav-link.active {
  color: #ffffff; /* Couleur blanche */
}

/* Style pour l'icône du lien actif */
.nav-link.active i {
  color: #1e3799; /* La couleur que vous souhaitez pour l'icône */
}

/* Style par défaut de la barre de navigation */
#navbar {
  transition: opacity 0.5s ease;
}

/* Style lorsque la barre de navigation est transparente */
#navbar.transparent {
  opacity: 0.5;
}

/* Hamburger menu styles */
.hamburger-menu {
  z-index: 1000;
}

.hamburger-menu .nav-link {
  background-color: #007bff;
  border-radius: 15px;
  padding: 10px;
}

.hamburger-menu li {
  margin-bottom: 10px;
}

.hamburger-width {
  top: 0;
  right: 0;
  border-left: var(--bs-offcanvas-border-width) solid
    var(--bs-offcanvas-border-color);
}

/* =========================
   Header Styles
   ========================= */

/* Centered header text */
.header-center h1 {
  font-size: 64px;
}

.header-center p {
  font-size: 32px;
}

/* Header margin */
.header {
  margin-bottom: 0;
}

/* Effet de parallaxe pour l'en-tête */
.parallax {
  background-image: url("assets/img/header.webp");
  height: 100vh; /* Prend toute la hauteur de la fenêtre de visualisation */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; /* Couvre toute la zone sans déformer l'image */
}

/* =========================
   Media Queries
   ========================= */

/* Styles pour les écrans moyens */
@media only screen and (max-width: 1030px) {
  .parallax {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(assets/img/header.webp) top right no-repeat;
    background-size: cover;
  }

  .icone-color svg path {
    fill: #fff;
  }

  .header-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-center h1 {
    font-size: 36px;
    color: #fff;
  }

  .header-center p {
    font-size: 16px;
    color: #fff;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-weight: 700;
    font-size: 26px;
    color: #728394;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 12px;
  }
}

/* =========================
   Section Title Styles
   ========================= */

/* Centered text and padding for section titles */
.section-title {
  text-align: center;
}

/* Styling for h2 within section titles */
.section-title h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
}

/* Underline effect for h2 within section titles */
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 140px;
  height: 3px;
  background: #0563bb;
  bottom: 1px;
  left: calc(50% - 70px);
}

/* Scale animation on icon hover */
.icone:hover {
  transform: scale(1.1);
}

/* =========================
   About Section Styles
   ========================= */

/* Background color for the about section */
#about {
  background-color: #f9f9f9;
}

/* Small screen styles */
@media only screen and (max-width: 990px) {
  .about-center {
    display: flex;
    justify-content: center;
  }
}

/* Icon styling within the about section */
.icone-center p i {
  margin-right: 10px;
  vertical-align: middle;
}

/* =========================
   Facts Section Styles
   ========================= */

/* Background color and positioning for the facts section */
#facts {
  background-color: #f9f9f9;
  position: relative;
  z-index: 0;
}

/* Flexbox centering for rows within the facts section */
.row.justify-content-center {
  display: flex;
  justify-content: center;
}

/* Styling for count boxes within the facts section */
.count-box {
  background: linear-gradient(45deg, #007bff, #0056b3);
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  position: relative;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
}

/* Pseudo-elements for additional styling on count boxes */
.count-box::before,
.count-box::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 10px;
  background: #007bff;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

/* Positioning for the ::before pseudo-element */
.count-box::before {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

/* Positioning for the ::after pseudo-element */
.count-box::after {
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
}

/* Hover effect for count boxes */
.count-box:hover::before,
.count-box:hover::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.purecounter {
  transition: all 0.3s ease-out;
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #011426;
}

/* =========================
   Resume Section Styles
   ========================= */

/* Styling for the resume border */
.resume-border {
  background-color: #007bff;
  border-radius: 10px;
  padding: 15px;
  background: linear-gradient(45deg, #9dccff, #87bcf5);
  transition: all 0.3s ease;
}

/* Hover effect for the resume border */
.resume-border:hover {
  background: linear-gradient(45deg, #87bcf5, #9dccff);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

/* Styling for individual resume items */
.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid black;
  position: relative;
}

/* Styling for h2 within resume items */
.resume h3 {
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 10px;
}

/* Pseudo-element for additional styling on resume items */
.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #0563bb;
}

.cv-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv-button {
  border-radius: 25px;
  background-color: #0056b3;
  color: white;
  padding: 10px 10px;
  font-size: 15px;
  text-decoration: none;
}

/* =========================
   Skills Section Styles
   ========================= */

/* Centered text and margin for section headers */
.section-header {
  text-align: center;
  margin-bottom: 2rem;
}

/* Flexbox layout for skill list */
.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Media query for small screens */
@media only screen and (max-width: 400px) {
  .skills-list {
    flex-direction: column;
  }
}

/* Width and margin for skill categories */
.skill-category {
  width: 48%; /* Adjust based on your layout */
  margin-bottom: 2rem;
}

/* Height and background for progress bars */
.progress {
  height: 1rem;
  background-color: #ddd;
}

/* Background and text styling for progress bars */
.progress-bar {
  background-color: var(--progress-color, green);
  color: white;
  text-align: center;
  line-height: 24px;
}

/* =========================
   Portfolio Section Styles
   ========================= */

/* Background color for the portfolio section */
#portfolio {
  background-color: #f9f9f9;
}

/* Flexbox layout and styling for portfolio filter */
.portfolio-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 10px;
  overflow-x: auto;
  white-space: nowrap;
}

/* Media query for small screens */
@media only screen and (max-width: 480px) {
  .portfolio-filter {
    justify-content: flex-start;
  }
}

/* Styling for filter buttons */
.filter-button {
  margin: 0 10px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s ease;
  display: inline-block;
}

/* Hover effect for filter buttons */
.filter-button:hover {
  background-color: #0056b3;
  border-radius: 10px;
}

/* Active state for filter buttons */
.filter-button.active {
  color: #000000;
}

/* Focus state for filter buttons */
.filter-button:focus {
  outline: none;
  box-shadow: none;
}

/* Interactive hover effect */
.interactive-effect {
  transition: transform 0.3s ease;
  cursor: pointer;
}

/* Hover scaling for interactive effect */
.interactive-effect:hover {
  transform: scale(1.1);
}

/* Lorsque la souris survole les boutons */
.filter-button:hover {
  background-color: #0056b3; /* Couleur de fond bleue plus sombre au survol */
}

.Projetcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 993px) {
  .Projetcenter {
    align-items: flex-start;
  }
}

/* =========================
   Modal Section Styles
   ========================= */

.portfolio-details .portfolio-info h3 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-description,
.portfolio-realisation {
  margin: 12px;
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.carousel-image {
  object-fit: cover; /* Redimensionne l'image pour remplir l'élément parent, en conservant son aspect ratio */
  object-position: center; /* Positionne l'image au centre de l'élément parent */
  width: 100%; /* Largeur à 100% de l'élément parent */
  height: 100%; /* Hauteur à 100% de l'élément parent */
}

.close-modal-button {
  border-radius: 5px; /* Arrondit les coins */
  color: white; /* Rend la croix blanche */
}

/* Center modal images */
.carousel-inner img {
  display: block;
  margin: 0 auto;
}

/* Customize the color of indicators and buttons */
.carousel-indicators [data-bs-target] {
  background-color: #0087ff;
}

.carousel-indicators button {
  background-color: white;
  border: 1px solid white;
}

.carousel-indicators .active {
  background-color: #0c62ae;
  border: 2px solid black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: transparent;
}

/* Blue background */
.text-blue {
  background-color: #007bff;
}

/* Hover effect for blue text */
.text-blue:hover {
  background-color: #0056b3; /* Darker blue background on hover */
}

/* =========================
   Veille Section Styles
   ========================= */

.flex-container {
  display: flex;
  justify-content: space-between; /* Espacement égal entre les div */
  align-items: stretch; /* Force les éléments à s'étirer pour avoir la même hauteur */
  flex-wrap: wrap; /* Permet aux éléments de se déplacer à la ligne suivante s'il n'y a pas assez d'espace */
}

.flex-container > div {
  flex: 1; /* Donne à chaque div la même flexibilité */
  margin: 0 10px; /* Ajoute une marge entre les div */
}

/* Style de base pour le conteneur 3D */
.blue-3d {
  background-color: #007bff;
  padding: 20px;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s; /* Ajout d'une transition pour l'effet de survol */
  perspective: 1000px; /* Ajout d'une perspective pour l'effet 3D */
}

/* Effet de survol */
.blue-3d:hover {
  transform: translateY(-10px) scale(1.05); /* L'élément se déplace légèrement vers le haut et s'agrandit un peu */
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); /* L'ombre devient plus prononcée lors du survol */
}

/* =========================
   Testimonial Section Styles
   ========================= */

/* Center text and padding for testimonials */
.testimonial {
  text-align: center;
  padding: 30px;
}

/* Taille du texte pour les écrans moyens et plus grands */
.h2-md {
  font-size: 2.5rem;
}

/* Taille du texte pour les petits écrans */
@media (max-width: 768px) {
  .text-sm {
    font-size: 0.875rem;
  }
  .h2-md {
    font-size: 1.5rem;
  }
}

.testimonial img {
  width: 10%;
}

/* Padding par défaut pour les grands écrans */
.testimonial p {
  padding: 0 100px 0 100px;
}

/* Padding réduit pour les écrans moyens */
@media (max-width: 992px) {
  .testimonial p {
    padding: 0 50px 0 50px;
  }
}

/* Padding encore plus réduit pour les petits écrans */
@media (max-width: 768px) {
  .testimonial p {
    padding: 0 20px 0 20px;
  }
}

/* Blue indicators */
.blue-indicators button {
  background-color: #007bff; /* Blue background color */
}

.blue-indicators .active {
  background-color: #0056b3; /* Darker blue for the active indicator */
}

.blue-indicators [data-bs-target] {
  background-color: #007bff;
}

.quote {
  font-size: 25px;
  color: #007bff;
}

/* =========================
   Contact Section Styles
   ========================= */

#contact {
  background-color: #f9f9f9;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-container {
  position: relative;
  overflow: hidden;
  padding-top: 50%; /* Ratio 16:9 */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.alert {
  width: 40%;
  margin: auto;
}

@media (max-width: 770px) {
  .alert {
    width: 80%;
  }
}

@media (max-width: 380px) {
  .alert {
    width: 100%;
  }
}

/* =========================
   footer section styles
   ========================= */

/* Flexbox layout for custom row */
.custom-row {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

/* Pour les écrans de taille moyenne et grande */
@media (min-width: 576px) {
  .group-1 {
    order: 2;
    align-items: center;
    justify-content: center;
  }
  .group-2 {
    order: 1;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .group-3 {
    order: 3;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .group-2 p,
  .group-3 p,
  .mention {
    position: absolute;
    bottom: 0;
  }
}

/* Pour les petits écrans */
@media (max-width: 575px) {
  .group-1,
  .group-2,
  .group-3 {
    align-items: center;
    justify-content: center;
  }
  .group-1 {
    order: 1;
    text-align: center;
  }
  .group-2 {
    order: 2;
    text-align: center;
  }
  .group-3 {
    order: 3;
    text-align: center;
  }
}

/* =========================
   Animation Section Styles
   ========================= */

/* =========================
   Zoom In Animation
   ========================= */

/* Initial state */
.zoom-in-on-scroll {
  opacity: 0;
  transform: scale(0.5);
  transition: all 1s ease-out;
}

/* Apply the animation */
.zoom-in-on-scroll.active {
  opacity: 1;
  transform: scale(1);
}

/* =========================
   Fade Up Animation
   ========================= */

/* Initial state */
.fade-up-on-scroll {
  opacity: 0;
  transform: translateY(100px); /* Augmentation de la distance de translation */
  transition: all 1.5s ease-in-out; /* Augmentation de la durée de l'animation */
}

/* Apply the animation */
.fade-up-on-scroll.active {
  opacity: 1;
  transform: translateY(0);
}
